
install_defalut_dependency: 
  ubuntu:  ["lsb-release", "ca-certificates", "curl" ,"gnupg" , "software-properties-common", "python3-pip" ]
  ec2-user:  ["python3","python3-pip"]

#for enabling concatination of docker version choosen by -xtra-vars "docker_version=18.06.3.ce-3.el7"
docker_package: "docker-ce-{{docker_version}}"

install_docker_loop : 
  ubuntu: ["docker-ce", "docker-ce-cli", "containerd.io"]
  ec2-user: ["{{docker_package}}"]

docker_users_loop : 
  ubuntu: ["ubuntu"]
  ec2-user: ["ec2-user"]